@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: #ffffff;
    background-image: url(images/ck.png);
}
img{
    max-width: 100%;
}
.main-header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: 0.3s;
    background-color:#07ace7;
    color: white;
    z-index:3;
    
}
.main-header .navbar{
   padding: 5px 0;
}
.main-header .navbar-nav li{
    padding:0 10px ;

    
}
.main-header .navbar-nav .nav-link{
    padding: 0 5px;
    font-weight: 600;
    color: white;
    
}
.main-header .navbar-nav .nav-link:hover{
    color: #0a0a09;

}
@media (max-width:991px){
   .main-header .navbar-collapse{
    border-bottom:2px solid red;
    border-top: 2px solid red;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background:#07ace7;
   }

    .main-header .navbar-nav .nav-link{
        line-height: 50px;
    }

    .main-header .navbar-toggler{
        display: flex;
        flex-direction: column;
        border:none;
        padding:2px;
        box-shadow: none;
        color: black;
        text-decoration: none;
        outline: none;
        font-weight: 400;
    }
    .main-header .navbar-toggler:focus{
        outline: none;
        border: none ;
        box-shadow: none;
    }
}

.send-button{
    position: relative;
    width:10vh;
    border: 0px;
    margin: 0px;
    padding: 0;

}
.bg-gray{
    background-color: rgba(254,196,72,0.3);
}
.bg-dark{
    background-color:blueviolet ;
}
main{
    position: relative;
}
.home-section{
    position: relative;
    overflow: hidden;
    padding-top: 100px;
    padding-bottom:100px;
    color: #ffffff;

}
@media (max-width:767px) {
    .home-section{
        padding-bottom: 70px;
        

    }
    
}
.home-section .container{
    position: relative;
    z-index: -1;
}
.home-section .home-intro h6{
    font-weight: 600;
    color: rgb(238, 238, 239);
    letter-spacing: 3px;
    font-size: 16px;
    margin:0 0 30px;

}
@media (max-width:767px) {
    .home-section .home-intro h6{
        margin:0 0 20px;
        color: #ffffff;
        
    }
    
}
.home-section .home-intro h1{
    font-size: 70px;
    font-weight: 600;
    color: rgb(221, 221, 221);
    margin: 0 0 35px;
    line-height:1;
    
}
@media (max-width:767px){
    .home-section .home-intro h1{
        margin: 0 0 25px;
        font-size: 45px;
        color:#ffffff;

    }
} 
.home-image img{
    height: 450px;
    width: 450px;
    object-fit: cover;
    border: 10px solid rgb(245, 245, 245);
    position: relative;
    z-index: -2;
}
@media (max-width:767px){
    .home-image img{
        height: 300px;
        width: 300px;
    }
} 
.section{
    padding: 80px 0;
    position: relative;
    color: #ffffff;
}
@media (max-width:767px) {
    .section{
        padding: 60px 0 ;
    }
    
}.about-text p{
    font-size: 18px;
    color: #ffffff;

}
.section-heading{
    padding-bottom: 60px;
    text-align: center;
    color: #ffffff;
}
@media (max-width:767px) {
    .section-heading{
        padding-bottom: 30px;
    }
}  
.section-heading h3{
    font-size: 50px;
    margin: 0;
    font-weight: 600;
    letter-spacing: 4px;
    padding-top: 0px;
    margin-top: 0px;
    color: #ffffff;
}  
@media (max-width:767px) {
    .section-heading h3{
        font-size: 38px;
    }
}.feature-box{
    padding: 40px;
    border: 10px solid rgb(230, 229, 229);
    background-color: rgb(21, 2, 74);

    display: flex;
}
@media (max-width:767px) {
    .feature-box{
     padding: 30px;
    }
}.feature-box .content{
    max-width: calc(100%-70px);
    padding-left: 20px;
}
.feature-box h5{
    font-size: 24px;
    color: rgb(255, 255, 255);
    font-weight: 600;
}
@media (max-width:767px) {
    .feature-box h5{
        font-size: 22px;
        color: #ffffff;
    }
}
.feature-box p{
    margin: 0;
    font-size: 17px;
    color: #ffffff;

}
.bg{
    background-color: red;
}
.portfolio-box .portfolio-img{
    position: relative;
    border:10px solid hwb(0 100% 0%);

}
.Contact-form{
    position:relative;
    padding: 20px;
    background-color: rgb(247, 247, 247);
    color: #0a0a09;
    margin-top:0px;

}
@media(max-width:767px){
    .Contact-form{
        
        padding: 25px;
    }
       

}
.Contact-form-.lead{
    font-weight: 400;
    font-size: 18px;
    margin: 0 0 30px;

}
.Contact-form .form-control{
    border-radius: 0;
    border: 1px solid blue;
    padding: 0.575rem .75rem;
}
.section-c{
    padding-bottom: 15px;
    position: relative;
    color: #ffffff;
}
.section-ck{
    padding-bottom: 30px;
    position: relative;
    color: #ffffff;
    padding-top: 15px;
}